STAGING_ENV=dev

PROJECT_UID=medzoner


HTTP_PORT=8061
PHP_PORT=9000
XDEBUG_CONFIG_HOST=medzoner.dev
XDEBUG_CONFIG_PORT=9061
PHP_IDE_CONFIG=medzoner.dev

# MySQL
MYSQL_ROOT_PASSWORD=toor
MYSQL_DATABASE=toor
MYSQL_USER=root
MYSQL_PASSWORD=toor
MYSQL_PATH=../mysql-data

USER_UID=1000
USER_GID=1000

HOME_PATH=/home/medzoner
PROJECT_NAME=medzoner

APP_PATH=/var/www
PATHBASE=/var/www/medzoner
PATH_PROJECTS=/var/www

COINHIVE_SITE_KEY=NyzJaDRELrFtg4PNvkU4Wbo8hNNN2bVF
