/vendor/*

.idea
/app/config/parameters.yml
/patches
/web/media/cache
/bower_components/
/app/cache/
/app/logs/
/node_modules/
/web/images
/web/css
/web/js
/web/assetic
/web/bundles
/build
/docker/.env
