*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    background: url('/images/background.jpg') no-repeat fixed;
    background-size: cover;
}

header {
    display: block;
    width: 100%;
    color: #ffffff;

    .top-bar-section li {
        border-left: 1px solid grey;
        a {
            font-weight: bold;
        }
    }

    .name {
        display: block;
        font-size: 22px;
        padding: 0;

        margin: 0 0 0 5px;
        color: #ffffff;
        img {
            margin: 8px 20px;
            width: 148px;
        }
    }
}
footer.section-footer {
        display: block;
        width: 100%;
        margin: 0 0 0 0;
        padding: 5px;
        color: #b2b2b2;
        background: #333;

        span {
            display: inline-block;
            width: 40%;
            height: 38px;
            line-height: 40px;
            font-weight: bold;
            margin: 0 0 0 15px;
        }
        img {
            margin: 0 auto;
            height: 38px;
        }
        position: relative;
        height: 48px;
        .social-footer {
            position: absolute;
            right: 15px;
            display: inline-block;
            margin: 0 0 0 0;
            width: auto;
            a {
                display: inline-block;
                margin: 0 5px 0 0;
                height: auto;
                i.tf-32 {
                    color: #ffffff;
                    font-size: 32px;
                    line-height: 32px;
                }
                i.fa {
                    color: #ffffff;
                    font-size: 28px;
                }
            }
        }

}

footer.section-footer.section-footer-fix {
    display: block;
    position: fixed;
    bottom: 0;
}


section.content
{
    float: left;
    padding: 1%;
    width: 100%;
    margin: 20px 0 20px 0;
    border: 0;
    background: #000000;
    opacity: 0.9;
}

div.stack-line
{
    line-height: 18px;
}

div.stack-subline
{
    margin:  0 0 0 20px;
}

.tree h3
{
    font-weight: bold;
}

.experience-part1
{
    font-size: 18px;
    font-weight: bold;
}

@media print {
    nav.top-bar {
        display: none;
    }
    footer.section-footer {
        display: none;
    }

    //.noprint {
    //    display: none;
    //}

    .columns-part1 {
        box-sizing: border-box; /* You only need this if you add padding or borders */
        display: inline-block;
        width: 3.5in;
    }
}