body {
    margin: 0;
    background: url('/images/background.jpg') no-repeat fixed;
    background-size: cover;
}

header {
    display: block;
    width: 100%;
    color: #ffffff;

    .name {
        display: block;
        font-size: 22px;
        padding: 0;

        margin: 0 0 0 5px;
        color: #ffffff;
        img {
            margin: 8px 20px;
            width: 148px;
        }
    }
}

.section--footer {
    display: block;
    position: fixed;
    bottom: 0;
    footer {
        display: block;
        width: 100%;
        margin: 0 0 0 0;
        padding: 5px;
        color: #b2b2b2;
        background: #000000;

        span {
            display: inline-block;
            width: 50%;
            height: 48px;
            line-height: 40px;
        }
        position: relative;
        height: 48px;
        .social-footer {
            position: absolute;
            right: 15px;
            display: inline-block;
            margin: 0 0 0 0;
            width: auto;
            a {
                display: inline-block;
                margin: 0 5px 0 0;
                height: auto;
                i.tf-32, i.fa {
                    color: #ffffff;
                    font-size: 1.8em;
                }
            }
        }
    }
}


section.content
{
    float: left;
    padding: 1%;
    width: 100%;
    margin: 20px 0 20px 0;
    border: 0;
    background: #000000;
    opacity: 0.9;
}
