<footer class="zurb-footer-bottom">
    <div class="row">
        <div class="large-8 columns">
            &copy; 2014 Mehdi Youb - Développeur Web | HTML5, Jquery, PHP5, MySQL
        </div>
        <div class="large-4 push-8 columns">
            <a href="{{path('site_contact')}}">contact</a>
        </div>
    </div>
</footer>