<section class="large-12 columns section--footer">
    <footer>
        <span>Mehdi Youb {{ 'now' | date("Y") }}</span>
        <img src="{{ medzoner_cdn_url ~ asset('/images/logo-single-small.png') }}" alt="WWW.MEDZONER.COM"/>
        <div class="social-footer">
            <a href="https://github.com/Medzoner">
                <i class="fa fa-github"></i>
            </a>
            <a href="https://hub.docker.com/r/medzoner">
                <i class="tf-docker tf-32"></i>
            </a>
            <a href="https://www.linkedin.com/in/mehdi-youb-53905210">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
    </footer>
</section>
