<footer class="zurb-footer-bottom">
    <div class="row">
        <div class="large-12 columns">
            Mehdi Youb - {{ 'now' | date("Y") }} - Développeur Web | <img src="/images/php/elephpant_50_35.png" alt="PHP"/> <img src="/images/symfony/symfony.png" alt="SYMFONY"/> <img src="/images/nodejs/nodejs.png" alt="NODEJS"/> <img src="/images/angular/angular.png" alt="ANGULARJS" />
        </div>
    </div>
</footer>
