<footer class="zurb-footer-bottom">
    <div class="row">
        <div class="large-12 columns">
            Mehdi Youb - {{ 'now' | date("Y") }} - Développeur Web | SYMFONY, NODEJS, ANGULARJS
        </div>
    </div>
</footer>