<footer class="zurb-footer-bottom">
    <div class="row">
        <div class="large-12 columns">
            &copy; {{ 'now' | date("Y") }} Mehdi Youb - Développeur Web | SYMFONY2/3, NODEJS, ANGULAR
        </div>
    </div>
</footer>