parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt


    branch: prod
    monolog_mail: medzoner@gmail.com

    node_path: /usr/local/bin/node
    java_path: /usr/bin/java

    monolog_redis_dns: redis://pode7676@elastic.medzoner.com
    elasticsearch_host: elastic.medzoner.com