<section class="content2">
    <div class="row">

        <h2>Stack</h2>

        <div class="s10 large-12 columns">

            <div class="row">
                <div class="small-3 columns">
                    Versionning
                </div>
                <div class="s11 small-9 columns">
                    <div>
                        <img style="height: 50px;" src="{{ asset(medzoner_cdn_url ~ '/images/git.png') }}" alt="Git (github, bitbucket, gitea)" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    Infrastructure As Code
                </div>
                <div class="s11 small-9 columns">
                    <div>
                        <img style="height: 50px;" src="http://medzoner.dev/images/ansible.png" alt="Ansible" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/bash.png" alt="Bash" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    OS
                </div>
                <div class="s11 small-9 columns">
                    <div>
                        <img style="height: 50px;" src="http://medzoner.dev/images/debian.png" alt="Debian" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/ubuntu.svg" alt="Ubuntu" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/proxmox.png" alt="Proxmox" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    Storage
                </div>
                <div class="s11 small-9 columns">
                    <div>
                        <img style="height: 50px;" src="http://medzoner.dev/images/glusterfs.jpg" alt="Glusterfs/Heketi" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/minio.png" alt="Minio" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    Virtualization
                </div>
                <div class="s11 small-9 columns">
                    <div>
                        <img style="height: 50px;" src="http://medzoner.dev/images/kvm.jpg" alt="KVM" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/qemu.png" alt="Qemu" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    Containers
                </div>
                <div class="s11 small-9 columns">
                    <div>
                        <img style="height: 50px;" src="http://medzoner.dev/images/docker/docker.png" alt="Docker" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/lxc.png" alt="LXC" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    Orchestration
                </div>
                <div class="s11 small-9 columns">
                    <div>
                        <img style="height: 50px;" src="http://medzoner.dev/images/kubernetes.png" alt="Kubernetes" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    Data, Message Broker
                </div>
                <div class="s11 small-9 columns">
                    <div>
                        <img style="height: 50px;" src="http://medzoner.dev/images/mysql.png" alt="MySQL" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/sqlite.png" alt="Sqlite" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/mongodb.png" alt="MongoDB" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/redis.png" alt="Redis" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/elasticsearch.png" alt="Elasticsearch" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/rabbitmq.svg" alt="RabbitMQ" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    Intégration continue
                </div>
                <div class="s11 small-9 columns">
                    <div>
                        <img style="height: 50px;" src="http://medzoner.dev/images/jenkins.png" alt="Jenkins" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/drone.svg" alt="Drone.io" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/codeship.svg" alt="Codeship" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/travis.png" alt="Travis" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/bitbucket.png" alt="Bitbucket pipeline" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    Déploiement
                </div>
                <div class="s11 small-9 columns">
                    <div>
                        <img style="height: 50px;" src="http://medzoner.dev/images/kubernetes.png" alt="Kubernetes" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/capistrano.png" alt="Capisrano" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    Application
                </div>
                <div class="s11 small-9 columns">

                    <div class="row">
                        <div class="s10 large-12 columns">
                            <div class="row">
                                <div class="small-3 columns">
                                    <h6>Langages</h6>
                                </div>
                                <div class="s11 small-9 columns">
                                    <h6>PHP, javascript/NodeJs, HTML, CSS</h6>
                                    <div>
                                        <img style="height: 50px;" src="http://medzoner.dev/images/php/elephpant_50_35.png" alt="/images/php/elephpant_50_35.png" />
                                        <img style="height: 50px;" src="http://medzoner.dev/images/nodejs/nodejs.png" alt="/images/nodejs/nodejs.png" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="s10 large-12 columns">
                            <div class="row">
                                <div class="small-3 columns">
                                    <h6>Frameworks</h6>
                                </div>
                                <div class="s11 small-9 columns">
                                    <h6>Symfony 1.4, 2.x, 3.x, AngularJS</h6>
                                    <div>
                                        <img style="height: 50px;" src="http://medzoner.dev/images/symfony/symfony.png" alt="/images/symfony/symfony.png" />
                                        <img style="height: 50px;" src="http://medzoner.dev/images/angular/angular.png" alt="/images/angular/angular.png" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="s10 large-12 columns">
                            <div class="row">
                                <div class="small-3 columns">
                                    <h6>Test</h6>
                                </div>
                                <div class="s11 small-9 columns">
                                    <h6>PhpUnit, Behat, Moka, Nightwatch</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    Webserver
                </div>
                <div class="s11 small-9 columns">
                    <div>
                        <img style="height: 50px;" src="http://medzoner.dev/images/nginx.jpg" alt="Nginx" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/traefik.svg" alt="Traefik" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/varnish.png" alt="Varnish" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-3 columns">
                    Développement
                </div>
                <div class="s11 small-9 columns">
                    <div>
                        <img style="height: 50px;" src="http://medzoner.dev/images/phpstorm.png" alt="Phpstorm" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/netbeans.svg" alt="Netbeans" />
                        <img style="height: 50px;" src="http://medzoner.dev/images/eclipse.png" alt="Eclipse" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>