{% extends '@MedzonerGlobal/base.html.twig' %}
{% set page_title = "CV" %}

{% block content %}

    <section class="content2">
        <div class="row">

            <div class="small-6 columns columns-part1">
                <span>Mehdi Youb</span>
                <br>
                <span>75019 Paris</span>
                <br>
                <span>medzoner@medzoner.com</span>
                <br>
                <span>https://github.com/Medzoner</span>
            </div>
            <div class="s11 small-6 columns columns-part1">
                <span>Né le 03/03/1983</span>
                <br>
                <span>Nationalité Française</span>
                <br>
                <span>Permis B</span>
                <br>
                <span>https://hub.docker.com/r/medzoner</span>
            </div>
            <hr>
            <h2>Développeur et Devops</h2>

            {% include '@MedzonerGlobal/Technos/stack.html.twig' %}

            {% include '@MedzonerGlobal/Technos/experience.html.twig' %}

            {% include '@MedzonerGlobal/Technos/formation.html.twig' %}

            {% include '@MedzonerGlobal/Technos/lang.html.twig' %}

            {% include '@MedzonerGlobal/Technos/other.html.twig' %}

            {#{% include '@MedzonerGlobal/Technos/stack_print.html.twig' %}#}

            {#{% include '@MedzonerGlobal/Technos/experience_print.html.twig' %}#}

            {#{% include '@MedzonerGlobal/Technos/formation_print.html.twig' %}#}

            {#{% include '@MedzonerGlobal/Technos/lang_print.html.twig' %}#}

            {#{% include '@MedzonerGlobal/Technos/other_print.html.twig' %}#}

        </div>
    </section>
{% endblock %}
