<div class="cv-tree">
    <div class="tree">
        <h3> Lang</h3>
        {% for k,lang in langs %}
        <div class="stack-line">
            <span> {{ k }} : </span>
            {% for item in lang %}
                {% if item.title is defined %}
                    <span>{{ item.title }}</span>
                {% endif %}

                {% if item.title is not defined %}
                    {% for k,sublang in item %}
                        <div><span class="folder-title"> {{ k }}</span>
                            {% for subitem in sublang %}
                                <p>{{ subitem.title }}</p>

                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
