{% extends '@MedzonerGlobal/base.html.twig' %}
{% set page_title = "Contact" %}


{% block content %}
<div class="row">
    <div class="large-12 columns">
        <section class="content">
            
            {% if message is not empty %}
            <div class="row">
                <div class="large-12 columns">
                    <div class="blogger-notice">
                    {{ message[0] }}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="large-12 columns">
                    <div>
                        {{ form(form) }}
                    </div>
                </div>
            </div>
            {% endif %}
            {#<div class="row">#}
                {#<div class="large-12 columns">#}
                    {#<div>#}
                        {#<strong></strong>#}
                    {#</div>#}
                    {#<div><b>XMR : </b>45A6nsx6dHGhZBmjuN2o2A7uLhwFwB8qN8qB6wfd1J8LSpqdRX2TP9MMP9vAWyg34egp6KHXHjU3CdCY8tZQJPYWRVDnNAB</div>#}
                    {#<div><b>ETH : </b>0x2133F03A7c25891F8DA78481125f2719E44a9B49</div>#}
                    {#<div><b>LTC : </b>LWRDaYaCgMb1LTkA9vDNBgxkeVq2FHsiL1</div>#}
                    {#<div><b>XVG : </b>DRB42GwS9VvGJPMYHM7p4A11JFTzcensYU</div>#}
                {#</div>#}
            {#</div>#}
        </section>
    </div>
</div>
{% endblock %}