parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    mongo_database_dsn: 'mongodb://localhost:27017'

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt


    branch: prod
    monolog_mail: xxxxxx@gmail.com

    monolog_redis_dns: redis://pass@elastic.com

    medzoner_cdn_url: https://cdn.medzoner.com

    advert_script: 'http://advert.medzoner.com/client/js/sharadserver.min.js'

    redis_client_default_dsn: 'redis://redis'
    redis_connection_timeout: 30
    redis_read_write_timeout: 30

    rabbitmq_host:     "rabbitmq-medzoner"
    rabbitmq_port:     5672
    rabbitmq_user:     'rabbitmq'
    rabbitmq_password: 'rabbitmq'

    elastica_host: 'elastic:changeme@172.61.0.1'
    elastica_port: '9200'

    coinhive.site_key: 'NyzJaDRELrFtg4PNvkU4Wbo8hNNN2bVF'
    cache_key_front:
          homepage:
            - homepage