{% extends '@MedzonerGlobal/base.html.twig' %}
{% set page_title = "CV" %}

{% block content %}
    <div class="book row">
        <div class="large-12 columns">
            <section class="content">
                <div class="row">
                    <div class="small-6 small-centered columns">
                        <div id="portfolio">
                            {{ dump(articles) }}
                            {{ dump(users) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
