{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
        <section class="content">
            <div class="row">
                <div class="large-6 medium-6 columns">
{% include "FOSUserBundle:Group:edit_content.html.twig" %}
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

