{% extends '@MedzonerGlobal/base.html.twig' %}
{% set page_title = "CV" %}

{% block content %}
    <style type="text/css">
        .s11 {
            border-left: 2px dotted #000;
            margin-left: -1px;
            color: #000;
        }
        .s10 {
            border-bottom: 2px dotted #000;
            color: #000;
        }
        .s10 ul li {
            color: #000;
        }
    </style>

    <div class="row">
        <div class="large-12 columns">
            <section class="content2">


                <div class="row">

                    <div class="s10 large-12 columns">
                        <h2>My Resume</h2>
                    </div>

                    <div class="s10 large-12 columns">
                        <h5>INFORMATIQUE</h5>
                        <div style="width: 35px; left: 820px; top: 628px; height: 34px;" class="s13" id="Cntnr7" data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c46c.1.$Cntnr7">
                            <div id="Cntnr7bg" class="s13bg" data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c46c.1.$Cntnr7.0">
                            </div>
                            <div id="Cntnr7inlineContent" class="s13inlineContent" data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c46c.1.$Cntnr7.1">
                                <div style="width: 10px; left: 13px; top: 1px; height: 30px;" id="SvgShp1-qsl" class="SvgShp1-qsl_ho7a7umo" data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c46c.1.$Cntnr7.1.$SvgShp1-qsl">
                                    <style type="text/css">
                                        .SvgShp1-qsl_ho7a7umo svg {
                                            width:100%;height:100%;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;
                                        }
                                        .SvgShp1-qsl_ho7a7umo path,.SvgShp1-qsl_ho7a7umo polygon,.SvgShp1-qsl_ho7a7umo rect,.SvgShp1-qsl_ho7a7umo circle,.SvgShp1-qsl_ho7a7umo ellipse,.SvgShp1-qsl_ho7a7umo polyline,.SvgShp1-qsl_ho7a7umo line {
                                            fill:rgba(255, 255, 255, 1);stroke:rgba(0, 0, 0, 1);stroke-width:0px;
                                        }
                                    </style>
                                    <svg style="width: 11px; height: 10px;" data-original-aspect-ratio="1.0514730671958303" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <g transform="translate(0,0)">
                                            <polygon points="5.000001,0 6.544713,3.130309 10.000001,3.632735 7.49969,6.06977 8.089962,9.510468 5.000001,7.886165 1.909474,9.510468 2.499718,6.06977 0,3.632735 3.454751,3.130309"></polygon>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>Langages</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>PHP5, Jquery/AJAX, HTML, CSS, XML</h6>
                            </div>
                        </div>
                    </div>

                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>Base de données</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>MySQL</h6>
                            </div>
                        </div>
                    </div>

                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>Frameworks</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>Symfony 1.4 > 2.5</h6>
                            </div>
                        </div>
                    </div>

                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>CMS</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>Prestashop, Wordpress</h6>
                            </div>
                        </div>
                    </div>

                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>Environnement</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>Netbeans, Eclipse</h6>
                            </div>
                        </div>
                    </div>

                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>OS</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>GNU/LINUX (Debian), UNIX BSD et Microsoft Windows</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="s10 large-12 columns">
                        <h5>EXPÉRIENCE PROFESSIONNELLE</h5>
                    </div>
                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>2012-2015</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>ADMP -  Développeur Backend et Frontend</h6>
                            </div>
                        </div>
                    </div>
                    <div class="s10 large-12 columns"> 
                        <ul>
                            <li>Création et gestion de projets</li>
                            <li>Sites sur mesure</li>
                            <li>Maintenance (Mises à jours et Analyse de Sécurité)</li>
                            <li>Administration de serveur web et mail (apache2, varnish, sftp, postfix....)</li>
                            <li>Sauvegarde de données via scripts php et cron</li>
                            <li>Gestion de bases de données</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>2011-2012</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>ADMP Informatique -  Contrat Professionnelle</h6>
                            </div>
                        </div>
                    </div>
                    <div class="s10 large-12 columns"> 
                        Création du CRM interne en PHP5 :
                        <ul>
                            <li>Gestion des sociétés, des contacts, des interventions, des techniciens.</li>
                            <li>Relevés mensuels par mailing,</li>
                            <li>Ticketing. Statistiques. Exports CSV et PDF.</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>2008-2011</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>WEBPORTAGE - Développeur/Webmaster.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="s10 large-12 columns"> 
                        Portage salarial
                    </div>
                </div>

                <div class="row">
                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>2003-2004</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>AXYMECA - Epreuve de Synthèse Professionnelle de BTS niveau 2 - Le Havre (76)</h6>
                            </div>
                        </div>
                    </div>
                    <div class="s10 large-12 columns"> 
                        Service Qualité et SHE :  Mise en place de la certification M.A.S.E (Manuel d’Assurance Sécurité Entreprise).
                    </div>
                </div>

                <div class="row">
                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>05/03-06/03</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>HUREL-HISPANO - Stage de BTS niveau 1 - Le Havre (76)</h6>
                            </div>
                        </div>
                    </div>
                    <div class="s10 large-12 columns"> 
                        Service Gestion de Production : Mise à jour de la base de données de gestion des stocks : Inverseurs d’Airbus A320/A340.
                    </div>
                </div>

                <div class="row">
                    <div class="s10 large-12 columns">
                        <h5>FORMATION</h5>
                    </div>
                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>11/2012</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>Formation Professionnelle – IP Formation – Paris</h6>
                            </div>
                        </div>
                    </div>
                    <div class="s10 large-12 columns"> 
                        Formation JAVA
                    </div>
                </div>

                <div class="row">
                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>2004</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>BTS d’Assistance Technique d’Ingénieur - Lycée Jules Siegfried – Le Havre (76)</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>2001</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>Bac STI option génie Electrotechnique - Lycée Pierre de Coubertin – Bolbec (76)</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="s10 large-12 columns">
                        <h5>LANGUES</h5>
                    </div>
                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>Anglais</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>Niveau intermédiaire. Bonne maîtrise des documentations et notices techniques.</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="s10 large-12 columns">
                        <h5>ACTIVITES ET PROJETS DIVERS</h5>
                    </div>
                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>Internet</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>Participation à des tutoriels et traduction de documentations Linux.</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="s10 large-12 columns">
                        <div class="row">
                            <div class="small-3 columns">
                                <h6>Video</h6>
                            </div>
                            <div class="s11 small-9 columns">
                                <h6>Assistant monteur de la vidéo de skateboard PrivateWork (Pacificwear 2010).</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
{% endblock %}
