{% extends '@MedzonerGlobal/base.html.twig' %}
{% set page_title = "CV" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <section class="content2">
                {% for part in jobboard %}
                    {% if part is not empty %}
                        <div class="row">
                            {% if part.title is not empty %}
                                <br><br>
                                <div class="s10 large-12 columns">
                                    <h5>{{ part.title }}</h5>
                                </div>
                            {% endif %}
                            {% for subpart in part.content %}
                                {% if subpart is not empty %}
                                    <div class="s10 large-12 columns">
                                        <div class="row">
                                            <div class="small-3 columns">
                                                <h6>{{ subpart.sub_title }}</h6>
                                            </div>
                                            <div class="s11 small-9 columns">
                                                <h6>{{ subpart.sub_content }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if subpart.sub_description is defined and subpart.sub_description is not empty %}
                                    <div class="s10 large-12 columns">
                                        <ul>
                                            {% for description in subpart.sub_description %}
                                                <li>{{ description }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </section>
        </div>
    </div>
    <br>
{% endblock %}
