{% block content %}
    <div class="row">
        <div style="color: #ffffff;">
            {{ 'now'|date('s') }}
        </div>
        <div class="large-12 columns">
            <div id="advert-1" class="advert">
                <script type="text/javascript">
                    sharadserver('c1a1278a-6633-4b8c-a7a6-559933a71311', "advert-1")
                </script>
            </div>
            <div class="small-12 columns">
                <div class="small-3 column">
                    &nbsp;
                </div>
                <div class="small-3 column" style="display:block">
                    <a href="https://github.com/Medzoner">
                        <i class="tf-github tf-96" style="color:white;margin:0 auto;display:block"></i>
                    </a>
                </div>
                <div class="small-3 column" style="display:block">
                    <a href="https://hub.docker.com/r/medzoner">
                        <i class="tf-docker tf-96" style="color:white;margin:0 auto;display:block"></i>
                    </a>
                </div>
                <div class="small-3 column">
                    &nbsp;
                </div>
            </div>
            <div class="small-12 columns">
                <div class="small-3 column">
                    &nbsp;
                </div>
                <div class="small-3 column" style="display:block">
                    <a href="https://www.linkedin.com/in/mehdi-youb-53905210">
                        <i class="fa fa-linkedin" aria-hidden="true" style="color:white; font-size:96px;margin:0 auto;display:block"></i>
                    </a>
                </div>
                <div class="small-3 column">
                    &nbsp;
                </div>
                <div class="small-3 column">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
{% endblock %}