{% extends '@MedzonerGlobal/base.html.twig' %}

{% set page_title = 'Home' %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div id="advert-1">
                <script type="text/javascript">
                    //sharadserver(68)
                </script>
            </div>
        </div>
    </div>
{% endblock %}