{% extends '@MedzonerGlobal/base.html.twig' %}

{% set page_title = 'Home' %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div id="advert-1">
                <script type="text/javascript">
                    getJSON("http://sharadserver.dev/app_dev.php/serve/adverts/1",
                            function(err, data) {
                                if (err != null) {
                                    console.info("Something went wrong: " + err);
                                } else {
                                    document.getElementById("advert-1").innerHTML = data.content;
                                }
                            });
                </script>
            </div>
        </div>
    </div>
{% endblock %}