{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
        <section class="content">
            <div class="row">
                <div class="large-6 medium-6 columns">
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <a href="/profile/edit">Modifier</a>
                    <a href="/profile/change-password">Réinitialiser le mot de passe</a>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}